<div class="checkout-ticket">
    <form novalidate="" [formGroup]="form" class="checkout-ticket__form">
        <ng-container *ngFor="let ticket of getCurrentEvent.tickets; let i = index">
          <ng-container [ngSwitch]="ticket.type">
            <ng-container *ngSwitchDefault>
              <div class="checkout-ticket__element" [formGroup]="getTicketForm.get([i])">
                  <h5 class="checkout-ticket__element--title">{{ ticket.title }}</h5>
                  <p class="checkout-ticket__element--desc">{{ ticket.description }}</p>
                  <ng-container *ngIf="ticket.timeTillEnd && ticket.timeTillEnd.value">
                    <span
                      class="checkout-ticket__disclaimer"
                      [ngClass]="{
                        'checkout-ticket__disclaimer--danger': ticket.timeTillEnd.type === 'MINUTE' || ticket.timeTillEnd.type === 'HOUR',
                        'checkout-ticket__disclaimer--warning': ticket.timeTillEnd.type !== 'MINUTE' && ticket.timeTillEnd.type !== 'HOUR'
                      }"
                      >Sales end in {{ ticket.timeTillEnd.value }} {{ getType(ticket.timeTillEnd) }}</span
                    >
                  </ng-container>
                  <div class="checkout-ticket__element_quantity">
                    <span class="checkout-ticket__element_quantity--price">{{
                      ticket.price == 0 ? 'Free' : (ticket.price | currency: getCurrentEvent.currency)
                    }}</span>
                    <select
                      class="checkout-ticket__element_quantity--custom-select custom-select"
                      [id]="'quantity' + i"
                      formControlName="quantity"
                      (change)="selectionChange($event, ticket.id)"
                    >
                      <option value="0">0</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                  </div>
                  <ng-container *ngIf="ticket.validation">
                    <div
                      class="checkout-ticket__element--validation"
                      *ngIf="getTicketSummary(ticket.id).requestQuantity < ticket.validation.available"
                    >
                      Only {{ ticket.validation.available }} tickets available.
                      <!-- <a href="javascript:void(0);">Join waitlist</a> -->
                    </div>
                    <div
                      class="checkout-ticket__element--validation"
                      *ngIf="
                        getTicketSummary(ticket.id).requestQuantity >
                          ticket.validation.available + getTicketSummary(ticket.id).waitlistQuantity &&
                        ticket.validation.available != 0
                      "
                    >
                      {{ ticket.validation.available }} Ticket Added to cart. Want to join the waitlist for
                      {{ getTicketSummary(ticket.id).requestQuantity - ticket.validation.available }} tickets?
                      <a href="javascript:void(0);" (click)="joinWaitlist(ticket.id, ticket.validation.available)"
                        >Join waitlist</a
                      >
                    </div>
                    <div class="checkout-ticket__element--validation" *ngIf="getTicketSummary(ticket.id).waitlistQuantity > 0">
                      {{ getTicketSummary(ticket.id).waitlistQuantity }} Tickets Waitlisted.
                      <a href="javascript:void(0);" (click)="removeWishlist(ticket.id, i)">Cancel</a>
                    </div>
                  </ng-container>
              </div>
            </ng-container>

            <ng-container *ngSwitchCase="ticketType.DONATION">
              <div class="checkout-ticket__element" [formGroup]="getTicketForm.get([i])">
                  <h5 class="checkout-ticket__element--title">{{ ticket.title }}</h5>
                  <p class="checkout-ticket__element--desc">{{ ticket.description }}</p>
                  <ng-container *ngIf="ticket.timeTillEnd && ticket.timeTillEnd.value">
                    <span
                      class="checkout-ticket__disclaimer"
                      [ngClass]="{
                        'checkout-ticket__disclaimer--danger': ticket.timeTillEnd.type === 'MINUTE' || ticket.timeTillEnd.type === 'HOUR',
                        'checkout-ticket__disclaimer--warning': ticket.timeTillEnd.type !== 'MINUTE' && ticket.timeTillEnd.type !== 'HOUR'
                      }"
                      >Sales end in {{ ticket.timeTillEnd.value }} {{ getType(ticket.timeTillEnd) }}</span
                    >
                  </ng-container>
                  <span class="checkout-ticket__disclaimer">I want to donate</span>
                  <div class="checkout-ticket__element_quantity">
                    <div class="checkout-ticket__element_quantity--donation-option checkout-ticket__donation-button">
                      <button
                        type="button"
                        [className]="
                          getTicketSummary(ticket.id).price === price
                            ? 'btn btn-secondary btn-sm'
                            : 'btn btn-outline-secondary'
                        "
                        *ngFor="let price of ticket.options"
                        (click)="handleQuantityChange(price, ticket.id, true)"
                      >
                        {{ price | currency: getCurrentEvent.currency }}
                      </button>
                      <div class="donation input-group">
                        <div class="input-group-append">
                          <button type="submit" class="btn btn-light">$</button>
                        </div>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Enter Amount"
                          (input)="inputOnchange($event, ticket.id)"
                          formControlName="price"
                          [id]="'price' + i"
                        />
                      </div>
                    </div>
                  </div>
              </div>
            </ng-container>

            <ng-container *ngSwitchCase="ticketType.SALES">
              <div class="checkout-ticket__element" [formGroup]="getTicketForm.get([i])">
                <div class="checkout-ticket__element--asset">
                  <img [src]="ticket.imageUrl" alt="book" />
                </div>
                  <h5 class="checkout-ticket__element--title">{{ ticket.title }}</h5>
                  <p class="checkout-ticket__element--desc">{{ ticket.description }}</p>
                  <div class="checkout-ticket__element_quantity">
                    <span class="checkout-ticket__element_quantity--price">{{
                      ticket.price == 0 ? 'Free' : (ticket.price | currency: getCurrentEvent.currency)
                    }}</span>
                    <select
                      class="checkout-ticket__element_quantity--custom-select custom-select"
                      [id]="'quantity' + i"
                      formControlName="quantity"
                      (change)="selectionChange($event, ticket.id)"
                    >
                      <option value="0">0</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                  </div>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
    </form>
  <div class="checkout-ticket__summary">
    <app-order-summary
      [orderSummary]="getOrderSummary"
      [currentCurrency]="getCurrentEvent.currency"
      (triggerValidation)="checkout()"
      [submitText]="'Checkout'"
      [isFormValid]="getOrderSummary && getOrderSummary.length"
    ></app-order-summary>
  </div>
</div>
