$black: #000;
$white: #fff;
$mainBackgroundColor: #e5e5e5;
$primaryColor: #000000;
$secondaryColor: #0eb58a;
$inputFocusColor: #000000;
$inputErrorColor: #dc3545;
$dangerColor: #eb7092;
$warningColor: #706e6b;

$primaryGreen: #48b971;
$menuColor: #104f55;
$bodyBg: #f2f7fa;
$lightGrey: #dbe3ee;
$grey: #8f929a;
$blue: #0e34a0;
$modalHeaderBg: #f4f6fa;
$darkGrey: #576277;
$offWhite: #edf4ed;
$offBlack: #2c2c2c;
$offBlack2: #001a03;
$offRed: #fde0e0;
$red: #ea0c0c;
$sky: #e0fdea;
$green1: #1dc9b7;
$green2: #35c635;
$green3: #005f22;
$lightGreen: #acbfae;
$yellow: #ea8e12;
$orange: #f7991b;
$lightOrange: #ffa600b4;
$offOrange: #ea8e1236;
