$black: #000;
$white: #fff;
$mainBackgroundColor: #e5e5e5;
$primaryColor: #000000;
$secondaryColor: #0eb58a;
$inputFocusColor: #000000;
$inputErrorColor: red;
$dangerColor: #eb7092;
$warningColor: #706e6b;

$primaryGreen: #48b971;
$menuColor: #104f55;
$bodyBg: #f2f7fa;
$lightGrey: #dbe3ee;
$blue: #0e34a0;
$lightGrey1: #717171;
$lightGrey2: #808b9d;
$lightGrey3: #f6f7fb;
$lightGrey4: #a2a2a2;
$lightGrey5: #f7f7f7;
$lightGrey6: #efefef;
$lightGrey7: #f0f3f8;
$lightGrey8: #aaaaaa;
$modalHeaderBg: #f4f6fa;
$darkGrey: #576277;
$darkGrey2: #707070;
$darkGrey3: #8c9baf;
$darkGrey4: #4b4b4b;
$darkGrey5: #acacac;
$darkGrey6: #879388;
$offWhite: #edf4ed;
$offBlack: #2c2c2c;
$offBlack2: #001a03;
$offRed: #fde0e0;
$red: #ea0c0c;
$sky: #e0fdea;
$green1: #1dc9b7;
$green2: #35c635;
$green3: #005f22;
$lightGreen: #acbfae;
$yellow: #ea8e12;
$orange: #f7991b;
$lightOrange: #ffa600b4;
$offOrange: #ea8e1236;
