@import '_color';

$content-layout-width: 100%;

:host {
  display: flex;
}

.list-event {
  width: $content-layout-width;
  max-width: 972px;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 80px;

  &__item {
    background-color: #fff;
    border-radius: 8px;
    border: 2px solid #e9ebef;
    padding: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #dddbda;

    &--title {
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 1.2rem;
    }

    &--desc {
      margin-top: 0;
      margin-bottom: 0.5rem;
    }

    &--disclaimer {
      font-size: 0.8rem;
      color: $grey;
    }
  }

  &--header{
    text-align: center;
    margin-bottom: 1rem;
  }

  &--clickable{
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}
