<div class="container">
  <div class="row">
    <div class="col-lg-9 col-md-9 event-list-container">
      <h3>Available Events</h3>
      <ng-container *ngFor="let event of eventsList; let i = index">
        <div class="box clickable" (click)="handleSelection(event.id)">
          <div class="plan-selection d-flex align-items-center">
            <div class="plan-data">
              <h5 class="widget-title">{{ event.name }}</h5>
              <p class="plan-text">{{ event.description }}</p>
              <span class="price-discalimer text-muted">> See all event packages and tickets</span>
              <div class="quantity d-flex align-items-center"></div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>