<div class="list-event">
      <h2 class="list-event--header">Available Events</h2>
      <ng-container *ngFor="let event of eventsList; let i = index">
        <div class="list-event__item list-event--clickable" (click)="handleSelection(event.id)">
          <!-- <div class="plan-selection d-flex align-items-center"> -->
              <h5 class="list-event__item--title">{{ event.name }}</h5>
              <p class="list-event__item--desc">{{ event.description }}</p>
              <span class="list-event__item--disclaimer">> See all event packages and tickets</span>
              <div class="quantity d-flex align-items-center"></div>
            <!-- </div> -->
        </div>
      </ng-container>
</div>
