@import '_color';
@import '_form';
@import '_stepper';

:host {
  display: flex;
}

.checkout-form{
  display: flex;
  width: 100%;

  &__notice,
  &__element {
    background-color: #fff;
    border-radius: 8px;
    border: 2px solid #e9ebef;
    padding: 40px;
    margin-bottom: 30px;
  }

  &__notice {
    padding: 20px;

    &--title{
      line-height: 1;
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
    }

    &-card{
      font-size: 0.8rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-description {
        display: flex;
        &--asset {
          margin-right: 2rem;
          img {
            object-fit: cover;
          }
        }

        &--text {
          display: flex;
          flex-direction: column;
        }
      }

      &--link {
        display: inline-flex;
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
    }
  }

  &__element{
    &--heading{
      margin-bottom: 0px;
    }

    &-row{
      display: flex;
      flex-wrap: wrap;
    }

    &-medium{
      flex: 0 0 50%;
    }

    &--no-b-margin{
      margin-bottom: 0px;
    }

    &--right-padding{
      padding-right: 15px;
    }

    &--left-padding{
      padding-left: 15px;
    }

    &-checker {
      margin-top: 1.5rem;
    }

    &-block{
      margin: 1rem auto;
    }
  }

  &__summary{
    position: sticky;
    top: 0;
    height: 25vh;
    padding: 0 15px;
  }
}

@media only screen and (min-width: 992px) {
  .checkout-form__main {
    flex: 0 0 66.66667%;
  }

  .checkout-form__summary {
    flex: 0 0 33.33333%;
  }
}

@media only screen and (min-width: 768px) {
  .checkout-form__main {
    flex: 0 0 66.66667%;
  }

  .checkout-form__summary {
    flex: 0 0 33.33333%;
  }
}

@media only screen and (min-width: 480px) {
  .checkout-form__main {
    flex: 0 0 58.33333%;
  }
}
