<div class="row">
  <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
    <div class="container">
      <div class="custom-stepper" style="margin-bottom: 50px">
        <span aria-label="Tickets" class="custom-step justify-content-start active"> </span>
        <span aria-label="Sessions" class="custom-step justify-content-center"> </span>
        <span aria-label="Payments" class="custom-step justify-content-end"> </span>
      </div>
      <div class="row notice-row">
        <div class="col-md-12">
          <h5>Tickets</h5>
          <div class="ticket-card">
            <div class="ticket-description">
              <div class="ticket-asset">
                <img src="assets/svg/rush-svg.svg" alt="rush-logo" />
              </div>
              <div class="ticket-text">
                <span>In a rush?</span>
                <span>Register your tickets now or after checking out. Your choice.</span>
              </div>
            </div>
            <a href="#" class="link">Fill this out later</a>
          </div>
        </div>
      </div>
      <form class="needs-validation" novalidate="" [formGroup]="form">
        <div
          class="row form-row"
          *ngFor="let control of getFreeTicketForm.controls; let i = index"
          [formGroup]="control"
        >
          <div class="col-md-12">
            <p class="mb-0">
              Attendee {{ formHeading[i + '__free']['attendee'] }} - {{ formHeading[i + '__free']['title'] }}
            </p>
            <div class="row">
              <div class="col-md-6 mb-0">
                <label for="firstName"></label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="firstName"
                  [id]="'firstName' + '__free' + i"
                  placeholder="First name"
                  [ngClass]="{
                    'is-invalid':
                      getFreeTicketForm.at([i]).get('firstName').touched &&
                      getFreeTicketForm.at([i]).get('firstName').errors
                  }"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="
                    getFreeTicketForm.at([i]).get('firstName').touched &&
                    getFreeTicketForm.at([i]).get('firstName').errors
                  "
                >
                  Valid first name is required.
                </div>
              </div>
              <div class="col-md-6 mb-0">
                <label for="lastName"></label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="lastName"
                  [id]="'lastName' + '__free' + i"
                  placeholder="Last name"
                  [ngClass]="{
                    'is-invalid':
                      getFreeTicketForm.at([i]).get('lastName').touched &&
                      getFreeTicketForm.at([i]).get('lastName').errors
                  }"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="
                    getFreeTicketForm.at([i]).get('lastName').touched &&
                    getFreeTicketForm.at([i]).get('lastName').errors
                  "
                >
                  Valid last name is required.
                </div>
              </div>
            </div>

            <div class="mb-0">
              <label for="email"></label>
              <input
                type="email"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    getFreeTicketForm.at([i]).get('email').touched && getFreeTicketForm.at([i]).get('email').errors
                }"
                formControlName="email"
                [id]="'email' + '__free' + i"
                placeholder="Email"
              />
              <div
                class="invalid-feedback"
                *ngIf="getFreeTicketForm.at([i]).get('email').touched && getFreeTicketForm.at([i]).get('email').errors"
              >
                Please enter a valid email address.
              </div>
            </div>

            <div class="mt-4">
              <label for="address"
                >Would you like to receive the branded connections and other e-communications from the us?</label
              >
              <div class="d-block my-3">
                <div class="custom-control custom-radio">
                  <input
                    type="radio"
                    [id]="'newsLetter1' + '__free' + i"
                    formControlName="newsLetter"
                    class="custom-control-input"
                    value="YES"
                    checked
                  />
                  <label class="custom-control-label" [for]="'newsLetter1' + '__free' + i">Yes</label>
                </div>

                <div class="custom-control custom-radio">
                  <input
                    type="radio"
                    [id]="'newsLetter2' + '__free' + i"
                    formControlName="newsLetter"
                    value="NO"
                    class="custom-control-input"
                  />
                  <label class="custom-control-label" [for]="'newsLetter2' + '__free' + i">No</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="row form-row"
          *ngFor="let control of getOtherTicketForm.controls; let i = index"
          [formGroup]="control"
        >
          <div class="col-md-12">
            <p class="mb-0">
              Attendee {{ formHeading[i + '__other']['attendee'] }} - {{ formHeading[i + '__other']['title'] }}
            </p>
            <div class="row">
              <div class="col-md-6 mb-0">
                <label for="firstName"></label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="firstName"
                  [id]="'firstName' + '__other' + i"
                  placeholder="First name"
                  [ngClass]="{
                    'is-invalid':
                      getOtherTicketForm.at([i]).get('firstName').touched &&
                      getOtherTicketForm.at([i]).get('firstName').errors
                  }"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="
                    getOtherTicketForm.at([i]).get('firstName').touched &&
                    getOtherTicketForm.at([i]).get('firstName').errors
                  "
                >
                  Valid first name is required.
                </div>
              </div>
              <div class="col-md-6 mb-0">
                <label for="lastName"></label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="lastName"
                  [id]="'lastName' + '__other' + i"
                  placeholder="Last name"
                  [ngClass]="{
                    'is-invalid':
                      getOtherTicketForm.at([i]).get('lastName').touched &&
                      getOtherTicketForm.at([i]).get('lastName').errors
                  }"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="
                    getOtherTicketForm.at([i]).get('lastName').touched &&
                    getOtherTicketForm.at([i]).get('lastName').errors
                  "
                >
                  Valid last name is required.
                </div>
              </div>
            </div>

            <div class="mb-0">
              <label for="email"></label>
              <input
                type="email"
                class="form-control"
                formControlName="email"
                [id]="'email' + '__other' + i"
                placeholder="Email"
                [ngClass]="{
                  'is-invalid':
                    getOtherTicketForm.at([i]).get('email').touched && getOtherTicketForm.at([i]).get('email').errors
                }"
              />
              <div
                class="invalid-feedback"
                *ngIf="
                  getOtherTicketForm.at([i]).get('email').touched && getOtherTicketForm.at([i]).get('email').errors
                "
              >
                Please enter a valid email address.
              </div>
            </div>

            <div class="mb-0">
              <label for="job"></label>
              <input type="text" class="form-control" formControlName="job" [id]="'job' + i" placeholder="Job Title" />
            </div>
            <div class="mb-0">
              <label for="company"></label>
              <input
                type="text"
                class="form-control"
                formControlName="company"
                [id]="'company' + '__other' + i"
                placeholder="Company"
              />
            </div>
            <div class="mb-0">
              <label for="country"></label>
              <input
                type="text"
                class="form-control"
                formControlName="country"
                [id]="'country' + '__other' + i"
                placeholder="Country"
                [ngClass]="{
                  'is-invalid':
                    getOtherTicketForm.at([i]).get('country').touched &&
                    getOtherTicketForm.at([i]).get('country').errors
                }"
              />
              <div
                class="invalid-feedback"
                *ngIf="
                  getOtherTicketForm.at([i]).get('country').touched && getOtherTicketForm.at([i]).get('country').errors
                "
              >
                Please enter a valid ccountry.
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12" style="position: sticky; top: 0; height: 25vh">
    <app-order-summary
      [orderSummary]="getOrderSummary"
      [currentCurrency]="getCurrentEvent.currency"
      (triggerValidation)="onSubmit()"
      [submitText]="'Review Sessions'"
      [isFormValid]="form.valid"
    ></app-order-summary>
  </div>
</div>
