@import '_color';

.checkout{
  &__navigator{
    &--back{
      cursor: pointer;
      text-align: left;
      margin-top: 1rem;
      margin-left: 2rem;
      display: flex;
      align-items: center;
      & > span {
        font-size: 1.5rem;
        display: inline-flex;
        margin-right: 0.5rem;
      }
      &:hover {
        opacity: 0.6;
      }
    }
  }

  &__container{
    width: 100%;
    max-width: 992px;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 80px;
  }
}

@media only screen and (max-width: 480px) {
  .checkout__container{
    padding-top: 30px;
  }
}
