<div class="order-summary">
  <div class="order-summary__widget">
    <h4 class="order-summary__widget--title">Order Summary</h4>
    <div class="order-summary__widget-item">
      <ng-container *ngFor="let item of orderSummary">
        <div class="order-summary__widget-item-summary">
          <span class="order-summary__widget-item-summary--head">
            {{ item.availableQuantity }}x {{ item.title }}
          </span>
          <div class="order-summary__widget-item-summary--price">
            <span>{{
              item.price * item.availableQuantity | currency: currentCurrency
            }}</span>
          </div>
        </div>
      </ng-container>

      <ng-container *ngFor="let item of orderSummary">
        <div class="order-summary__widget-item-summary" *ngIf="item.isWaitList">
          <span class="order-summary__widget-item-summary--head order-summary__widget-item-summary--muted-text">
            {{ item.waitlistQuantity }}x {{ item.title }}
          </span>
          <div class="order-summary__widget-item-summary--price order-summary__widget-item-summary--muted-text">
            <span>{{
              item.price * item.waitlistQuantity | currency: currentCurrency
            }}</span>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="order-summary__widget-item">
      <div class="order-summary__widget-item-summary">
        <h6 class="order-summary__widget-item-summary--head">
         Subtotal
        </h6>
        <div class="order-summary__widget-item-summary--price">
          <span>{{ getOrderTotal() | currency: currentCurrency }}</span>
        </div>
      </div>
      <div class="order-summary__widget-item-summary">
        <h6 class="order-summary__widget-item-summary--head">
          Taxes
        </h6>
        <div class="order-summary__widget-item-summary--price">
          <span>{{ getOrderTax() | currency: currentCurrency }}</span>
        </div>
      </div>
    </div>
    <div class="order-summary__widget-item">
      <div class="order-summary__widget-item-summary">
        <h6 class="order-summary__widget-item-summary--head order-summary__widget-item-summary--bold">
          Total
        </h6>
        <div class="order-summary__widget-item-summary--price order-summary__widget-item-summary--bold">
            {{ getGrandTotal() | currency: currentCurrency }}
        </div>
      </div>
    </div>
    <a href="#" class="order-summary__widget--link">Have a promo code?</a>
    <div class="order-summary__widget-inputs" *ngIf="orderSummary && orderSummary.length">
      <input type="text" class="order-summary__widget-inputs--control form-control" placeholder="Promo code" />
      <button type="submit" class="order-summary__widget-inputs--button btn custom-secondary">Redeem</button>
    </div>
  </div>
  <button class="custom-btn btn-primary btn-lg" [disabled]="!isFormValid" (click)="triggerValidation.emit()">
    {{ submitText }}
  </button>
</div>
