@import '_color';
@import '_form';
@import '_buttons';

.order-summary__widget {
  margin-bottom: 30px;
  background-color: #fff;
  padding: 30px;
  border-radius: 6px;
  &:last-child {
    border-bottom: 0px;
  }

  &--title {
    font-weight: 900;
    letter-spacing: 1px;
    display: table;
    line-height: 1;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0;
  }

  &-item{
    border-bottom: 1px solid #dddbda;
    font-size: 0.9rem;

    &:last-child {
      border-bottom: 0px;
    }

    &-summary {
      padding: 9px 0px;

      &--head {
        display: inline-block;
        width: 150px;
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.1;
        margin-bottom: 0.5rem;
        margin-top: 0;
      }

      &--price {
        letter-spacing: -1px;
        margin-bottom: 0px;
        display: inline-block;
        float: right;
        // font-size: 1rem;
      }

      &--bold{
        font-size: 1rem;
      }

      &--muted-text{
        color: $grey;
      }
    }
  }

  &--link {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    display: inline-flex;
    margin: 2rem auto;
  }

  &-inputs {
    position: relative;
    display: flex;
    align-items: stretch;
    width: 100%;

    &--control {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &--button{
      margin-left: 0.5rem;
    }
  }
}
