<div>
  <div class="widget">
    <h4 class="widget-title">Order Summary</h4>
    <div class="summary-block">
      <ng-container *ngFor="let item of orderSummary">
        <div class="summary-content">
          <div class="summary-head d-inline-block">
            <span class="summary-title">{{ item.availableQuantity }}x {{ item.title }}</span>
          </div>
          <div class="summary-price">
            <span class="summary-small-text">{{
              item.price * item.availableQuantity | currency: currentCurrency
            }}</span>
          </div>
        </div>
      </ng-container>

      <ng-container *ngFor="let item of orderSummary">
        <div class="summary-content" *ngIf="item.isWaitList">
          <div class="summary-head d-inline-block">
            <span class="summary-title mute-text">{{ item.waitlistQuantity }}x {{ item.title }}</span>
          </div>
          <div class="summary-price">
            <span class="summary-small-text mute-text">{{
              item.price * item.waitlistQuantity | currency: currentCurrency
            }}</span>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="summary-block">
      <div class="summary-content pb-0">
        <div class="summary-head d-inline-block">
          <h6 class="summary-title">Subtotal</h6>
        </div>
        <div class="summary-price">
          <span class="summary-small-text">{{ getOrderTotal() | currency: currentCurrency }}</span>
        </div>
      </div>
      <div class="summary-content pb-0">
        <div class="summary-head d-inline-block">
          <h6 class="summary-title">Taxes</h6>
        </div>
        <div class="summary-price">
          <span class="summary-small-text">{{ getOrderTax() | currency: currentCurrency }}</span>
        </div>
      </div>
    </div>
    <div class="summary-block">
      <div class="summary-content">
        <div class="summary-head d-inline-block">
          <h5 class="summary-title">Total</h5>
        </div>
        <div class="summary-price">
          <h5 class="summary-small-text">
            {{ getGrandTotal() | currency: currentCurrency }}
          </h5>
        </div>
      </div>
    </div>
    <a href="#" class="d-inline-flex my-4">Have a promo code?</a>
    <div class="input-group" *ngIf="orderSummary && orderSummary.length">
      <input type="text" class="form-control" placeholder="Promo code" />
      <button type="submit" class="btn custom-secondary ml-2">Redeem</button>
    </div>
  </div>
  <button class="custom-btn btn-primary btn-lg mb30 w-100" [disabled]="!isFormValid" (click)="triggerValidation.emit()">
    {{ submitText }}
  </button>
</div>
