@import "_color";

.spinner-container {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: hsla(0, 0%, 88%, 0.5);
  z-index: 99;
}
.spinner-container .spinner {
  margin-top: -20px;
  margin-left: -20px;
  position: fixed;
  top: 50vh;
  left: 50%;
  color: $secondaryColor;
}

.spinner-container .svg-spinner {
  animation: animate 0.5s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
