/* You can add global styles to this file, and also import other style files */
@import '_color';
@import '_fonts';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: $SalesforceSans;
  background: $mainBackgroundColor;
  color: $black;
  font-size: $fontSize;
}
